body{
	height:1000px;
}
#movephoto{
	position: absolute;


}
#movephoto img{
	width: 600px;
	height: 400px;

}
.hello{
	overflow:hidden;
	border-radius: 5px;
	width: 600px;
	height: 400px;
	border: 1px solid black;
	position: relative;
	float: left;
	border:1px solid white;
	box-shadow: 0 0 3px grey;
}
#lastbutton,#nextbutton{
	position: relative;
	height: 402px;
	float: left;
	background: blue;
	margin: 0;
}
.container{
	height: 420px;
	width: 1000px;
	position: relative;
	float: left;
}	<div type="button" id="lastbutton" onclick="reverseroll()">last</div>
	<div type="button" onclick="photoroll()" id="nextbutton">next</div>
